body {
  color: #000000;
  /* background: linear-gradient(
    to bottom right,
    antiquewhite,
    rgb(201, 247, 201)
  ); */
  background: white;
}
body::-webkit-scrollbar {
  display: none;
}
main {
  width: 100%;
  height: 95vh;
}

#dash-section1 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 99%;
  gap: 1rem;
  height: 50%;
  margin: 1rem auto;
}
#section1-div3 {
  grid-column: span 3;
}

#section1-div4 {
  grid-column: span 2;
}

.avatar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 5px 20px #303030);
}

#achivement-sec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 95%;

  height: 100%;
  margin: auto;
  div {
    margin: auto;
    font-size: 1.75rem;
    border: none;
    color: black;
    text-align: center;

    aside {
      color: black;
    }
  }
  span {
    display: block;
    font-weight: bold;
    font-size: 3.5rem;
  }
  div:nth-child(1) {
    color: #b3b000;
  }
  div:nth-child(2) {
    color: rgb(254, 32, 77);
  }
  div:nth-child(3) {
    color: rgb(2, 173, 2);
  }
  div:nth-child(4) {
    color: royalblue;
  }
}

/* section 2 */
#dash-section2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 99%;
  gap: 1rem;
  margin: 10px;
  height: 50%;
  margin: auto;
}
#section2-div1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  img {
    border-radius: 10px;
    box-shadow: 2px 2px 5px slategray;
  }
}

#section2-div2 {
  grid-column: span 2;
}

#section2-div3 {
  grid-column: span 2;
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  div {
    border: none;
    margin: 5px;
  }
  div:last-child {
    grid-column: span 2;
  }
}
